body{
  margin:0;
  font-family:Inter;
  background:#F4D0D1;
  color:#1a1a1a;
}

/* NAV */
header{
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:rgba(255,255,255,0.6);
  position:sticky;
  top:0;
  backdrop-filter:blur(10px);
}

nav a{
  margin-left:10px;
  text-decoration:none;
  color:#1a1a1a;
}

/* HERO */
.hero{
  text-align:center;
  padding:80px 20px;
}

/* PRODUCTS */
.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
  gap:15px;
  padding:20px;
}

.card{
  background:white;
  padding:10px;
  border-radius:12px;
  text-align:center;
}

.card img{
  width:100%;
  border-radius:10px;
}

/* CART */
.cart-btn{
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  transition:.3s;
}

.cart-btn:hover{
  transform:translateY(-2px);
}

.cart-btn svg{
  width:24px;
  height:24px;
}

#count{
  position:absolute;
  top:-8px;
  right:-10px;

  width:20px;
  height:20px;

  border-radius:50%;

  background:#111;
  color:white;

  font-size:11px;
  font-weight:600;

  display:flex;
  align-items:center;
  justify-content:center;
}

/* BUTTON */
button,.btn{
  background:#1a1a1a;
  color:white;
  padding:8px;
  border:none;
  border-radius:8px;
}

/* REVEAL */
.reveal{
  opacity:0;
  transform:translateY(20px);
  transition:1s;
}

.reveal.show{
  opacity:1;
  transform:translateY(0);
}
.contact{
  padding:60px 20px;
  text-align:center;
}

.contact h2{
  font-family:'Playfair Display';
  font-size:32px;
  margin-bottom:30px;
}

.contact-item{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:12px;

  margin:15px 0;

  font-size:16px;
}

.contact-item svg{
  opacity:0.8;
}
