body{
  margin:0;
  font-family:Inter;
  background:#F4D0D1;
  color:#1a1a1a;
}

/* NAV */
header{
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:rgba(255,255,255,0.6);
  position:sticky;
  top:0;
  backdrop-filter:blur(10px);
}

nav a{
  margin-left:10px;
  text-decoration:none;
  color:#1a1a1a;
}

/* HERO */
.hero{
  text-align:center;
  padding:80px 20px;
}

/* PRODUCTS */
.products{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(180px, 1fr));
  gap:22px;

  padding:40px 20px;

  max-width:1100px;
  margin:0 auto;
}
.card{
  background:white;
  border-radius:18px;

  overflow:hidden;

  box-shadow:0 12px 40px rgba(0,0,0,0.06);

  transition:all .4s ease;

  position:relative;
}

.card:hover{
  transform:translateY(-8px);
  box-shadow:0 20px 60px rgba(0,0,0,0.12);
}
.card img{
  width:100%;
  height:190px;
  object-fit:cover;

  transition:.5s ease;
}

.card:hover img{
  transform:scale(1.05);
}
.card button{
  background:#111;
  color:white;

  border:none;
  padding:8px 12px;

  border-radius:10px;

  cursor:pointer;

  margin-top:10px;

  font-size:13px;

  transition:.3s;
}

.card button:hover{
  transform:translateY(-2px);
  opacity:.9;
}
.fav{
  background:transparent;
  border:none;

  font-size:18px;

  position:absolute;
  top:10px;
  right:10px;

  cursor:pointer;

  transition:.3s;
}

.fav:hover{
  transform:scale(1.2);
}
/* CART */
.cart-btn{
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  transition:.3s;
}

.cart-btn:hover{
  transform:translateY(-2px);
}

.cart-btn svg{
  width:24px;
  height:24px;
}

#count{
  position:absolute;
  top:-8px;
  right:-10px;

  width:20px;
  height:20px;

  border-radius:50%;

  background:#111;
  color:white;

  font-size:11px;
  font-weight:600;

  display:flex;
  align-items:center;
  justify-content:center;
}

/* BUTTON */
button,.btn{
  background:#1a1a1a;
  color:white;
  padding:8px;
  border:none;
  border-radius:8px;
}

/* REVEAL */
.reveal{
  opacity:0;
  transform:translateY(20px);
  transition:1s;
}

.reveal.show{
  opacity:1;
  transform:translateY(0);
}
.contact{
  padding:60px 20px;
  text-align:center;
}

.contact h2{
  font-family:'Playfair Display';
  font-size:32px;
  margin-bottom:30px;
}

.contact-item{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:12px;

  margin:15px 0;

  font-size:16px;
}

.contact-item svg{
  opacity:0.8;
}
